
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-stretch: 80%;
}
.drapeau img
{
    height : 50px;
    width : 50px;
    justify-content: center;
    align-items: center;
}
.drapeau
{
    width : 100%;
    justify-content: center;
    display: flex;  

}
.carte
{
    background-image: url('../Images/6ccc.jpg');
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
    height: 30vh;
    width: 30vh;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: inset 2px;
    overflow: auto; /*Barre de défilement quand fenêtre est toute petite parce le texte sort de la flexbox*/
}
.carte:hover
{
    opacity: 0.5;
    transition: 0.6s;
}
.carte h3
{
 width: 100%;
 text-align: center;
}
.wrapper
{
    display: flex;
    background: rgba(92, 49, 219, 0.292);
    gap: 10px;
    flex-wrap: wrap;
}
h2
{
    text-align: center;
    margin: 1% 30%
}
.carteEnsemble
{
    display: flex;
    padding : 0 3%;
    width: 100%;
    justify-content: center;
    gap: 1%;
}
.carteEnsembleEquipe
{
    display: flex;
    padding : 1% 1%;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 1%;
}
.carteEquipe
{
    background-image: url('../Images/6ccc.jpg');
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
    height: auto;
    width: auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: inset 2px;
}
.carteEquipe h3
{
 width: 100%;
}

.carteEquipe:hover
{
    opacity: 0.5;
    transition: 2s;
}

 .carteJoueur
{
    background-image: url('../Images/6ccc.jpg');
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
    height: auto;
    width: auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: inset 2px;
}
.carteEquipe .descriptionEquipe
 {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 1.5%;
    align-items: center;
    width: 100%;
 }
 .carteEquipe .carteEquipeHeader
 {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 20%;
 }
 .carteEnsembleJoueur
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 1%;
    padding: 1% 1%;
}
.carteJoueur a
{

}
.carteJoueur img
{
    display: flex;
    width: 50vh;

    max-width: 100%;
}