
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-stretch: 80%;
}
.drapeau img
{
    height : 50px;
    width : 50px;
}
.carte
{

    height: 20vh;
    width: 20vh;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    flex-direction: row;
    border: solid 4px;
}
.carte h3
{

}
.wrapper
{
    display: flex;
    background: rgba(92, 49, 219, 0.292);
    gap: 10px;
    flex-wrap: wrap;
}
h2
{
    text-align: center;
}