
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-stretch: 80%;
}
.drapeau img
{
    height : 50px;
    width : 50px;
    justify-content: center;
    align-items: center;
}
.drapeau
{
    width : 100%;
    justify-content: center;
    display: flex;

}
.carte
{
    background-image: url('Images/bois.jpg');

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
    height: 20vh;
    width: 20vh;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid 2px;
}
.carte h3
{
 width: 100%;
 text-align: center;
}
.wrapper
{
    display: flex;
    background: rgba(92, 49, 219, 0.292);
    gap: 10px;
    flex-wrap: wrap;
}
h2
{
    text-align: center;
    margin: 1% 30%
}
.carteEnsemble
{
    display: flex;
    padding : 0 10%;
    width: 100%;
    justify-content: center;
    gap: 2%;
}